.header {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  align-items: center;
}

#logo {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  font-size: 32px;
  text-shadow: 0.5px 1px 0px #7ff;
  font-weight: bold;
  animation: logoanimation 2s linear infinite forwards alternate;
}
@keyframes logoanimation {
  0% {
    color: #000;
    text-shadow: 0.5px 1px 0px #7ff;
  }
  100% {
    color: #7ff;
    text-shadow: 0.5px 1px 0px #000;
  }
}
#cv-link {
  padding: 0 10px;
  background-color: #def;
  border: 1px solid #aff;
  margin-right: 10px;
}
#cv-link a {
  text-decoration: none;
  color: #123;
}
.navbar-container {
  flex: 1;
  display: none;
}

@media screen and (min-width: 900px) {
  .navbar-container {
    display: flex;
  }
  .navbar-transparent {
    display: none;
  }
  .navbar-icon {
    display: none;
  }
  .navbar-mobile {
    display: none;
  }
}
.navbar-transparent {
  flex: 1;
}
.navbar-icon {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px;
}
.navbar-icon > * {
  color: #5ff;
}
