.about-first {
  min-height: 500px;
  display: flex;
}
.about-first-right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.about-first-right span {
  color: #def;
  text-align: center;
  margin: 150px 0 40px 0;
  font-size: 2rem;
}
.about-first-right p:first-child {
  margin-top: 30px;
}
.about-first-right p {
  color: #def;
  font-size: 1.2rem;
}
.about-first-right-highlight {
  color: #5ff !important;
  font-size: 1.2rem !important;
}
.quote {
  margin-top: 20px;
}
.quote-autor {
  margin-bottom: 20px;
}
.quote,
.quote-autor {
  color: #9ab !important;
  font-size: 1rem !important;
  text-align: center;
}
.about-first-right ul {
  margin-top: 20px;
}
.about-first-right ul li {
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: 5px;
  color: #def;
  list-style: none;
}
.about-first-right ul li svg {
  margin-right: 10px;
}
.about-first-right span b {
  color: #5ff;
}
.about-first-left {
  flex: 1;
  display: flex;
}
.about-first-left .img {
  border: 2px solid #5ff;
  margin: auto;
  width: 90%;
  min-height: 300px;
  height: 90%;
}
