.presentation {
  flex-direction: column;
  display: flex;
  height: 100%;
}
.presentation-greatting {
  flex: 1;

  display: flex;
}
.presentation-greatting div {
  color: #def;
  font-size: 2.5rem;
  margin: auto 20px;
}
.presentation-greatting div b {
  color: #5ff;
}
.presentation-greatting div span {
  color: #5ff;
  font-weight: bold;
}
.presentation-profile-img {
  flex: 1;
  display: flex;
}
.presentation-profile-img > img {
  margin: auto;

  width: 100%;
}

@media screen and (min-width: 768px) {
  .presentation {
    flex-direction: row;
  }
}
