h1 {
  color: #fff;
}

.home {
  position: relative;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}
.home-img-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #444;
}
.home-presentation {
  color: #fff;
  flex: 1;
}
.home-presentation h3 {
  text-align: center;
}
.home-presentation p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .home {
    width: 70%;
    margin: auto;
  }
  .home-section {
    flex-direction: row;
  }
}
