.home {
  width: 90%;
  position: relative;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.home-title {
  color: #7ff;
  margin-top: 30px;
}

.home-section {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.home-img-div {
  border: 1px solid #7ff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #444;
}
.home-presentation {
  color: #9bb;
  flex: 1;
  word-spacing: 3px;
}
.home-presentation h3 {
  text-align: center;
  color: #7ff;
}
.home-presentation p {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .home {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .home {
    width: 80%;
    margin: auto;
  }
  .home-presentation p {
    letter-spacing: 0;
  }
  .home-section {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    width: 70%;
    margin: auto;
  }
  .home-presentation p {
    letter-spacing: 0;
  }
}
