.home-about {
  flex-direction: column;
  display: flex;
  width: var(--width-content);
  margin: auto;
  padding: 50px 0;
}
.home-about-header {
  height: 60px;
  color: #def;
}
.home-about-header h1 span {
  color: #5ff;
}

/*home about section with description and avatar */
.home-about-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-about-section-body {
  color: #bcd;
  flex: 1;
}
.home-about-section-body p {
  margin: 20px;
  font-size: 20px;
}
.home-about-section-body p .relevant {
  color: #5ff;
  font-weight: bold;
  font-style: italic;
}
.home-about-section-avatar {
  display: flex;
  flex: 1;
}
.home-about-section-avatar img {
  margin: auto;
  border: 2px solid #7ff;
  width: 350px;
  height: 350px;
  background-color: #000;
  border-radius: 50%;
}

/* home about footer  */

.home-about-footer {
  min-height: 100px;
  max-height: 200px;
  color: #def;
  text-align: center;
}
.home-about-footer > * {
  margin-top: 10px;
}
.home-about-footer h2 {
  color: #def;
}
.home-about-footer .links a {
  color: #5ff;
  font-size: 40px;
  margin-right: 20px;
}
/* media querys  */
@media screen and (min-width: 768px) {
  .home-about-section {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .home-about-section-body {
    color: #bcd;
    flex: 1.3;
  }
}

@media screen and (min-width: 1200px) {
  .home-about-section-body {
    color: #bcd;
    flex: 1.7;
  }
}
