.project h1,
.project p {
  text-align: center;
}
.project h1 {
  margin-top: 10px;
  color: #7ff;
}

/* project contoler  */
.project .controller {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 4px;
}
.project .controller:last-child {
  margin-bottom: 30px;
}
.project .controller a,
.project .controller button {
  border: none;
  color: #deff;
  font-weight: bolder;
  padding: 5px 15px;
  cursor: pointer;
  background-color: #455;
}
.project .controller button.disable {
  background-color: transparent;
  cursor: initial;
}
.project .controller a:hover {
  background-color: #233;
}
.project .controller a.focus {
  background-color: #233;
}
.project p {
  color: #9bb;
  margin: 30px 0;
}

/* .carousel-imgs  */
.project-img-carousel {
  padding: 5px;
  background-color: #123;
  position: relative;
  display: flex;
  border: 2px solid #567;
  margin: auto;
  height: fit-content;
  width: fit-content;
  max-width: 90%;
}

.carousel-imgs {
  position: relative;
  padding: 20px 35px;
  display: flex;
  margin: 0 auto;
  min-height: 200px;
  gap: 20px;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
}

.project-img-carousel .left-row,
.project-img-carousel .right-row {
  animation: initial;
  z-index: 1;
  position: absolute;
  border: none;
  display: flex;
  color: #7ff;
  border-radius: 3px;
  font-weight: bolder;
  top: 50%;
  background-color: #455;
  padding: 7px;
  cursor: pointer;
}
.project-img-carousel .left-row {
  left: 5px;
}
.project-img-carousel .right-row {
  right: 5px;
}
.carousel-imgs .img {
  position: relative;
  display: inline-block;
  min-width: 300px;
  background-color: #345;
  height: 380px;
  border: 1px solid #789;
  border-radius: 3px;
  padding: 2px;
  display: flex;
}
.carousel-imgs .img img {
  object-fit: cover;
  width: 100%;
}

.tech-list,
.view-code,
.view-project {
  margin-top: 20px;
  color: #9bb;
}

.tech-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  margin-top: 20px;
}

.tech-list ul li {
  border: 1px solid #7ff;
  border-radius: 5px;
}
.tech-list ul li a {
  display: inline-block;
  color: #def;
  padding: 3px 7px;
}
.tech-list ul li a:hover {
  color: #abc;
}
/* view project  */
.view-project h3,
.view-code h3,
.tech-list h3 {
  color: #7ff;
  text-align: center;
}

.view-code p a,
.view-project p a {
  color: #def;
  border-bottom: 1px solid #8ff;
}
.view-code p a:hover,
.view-project p a:hover {
  color: #abc;
}

@media screen and (min-width: 900px) {
  .project-img-carousel {
    max-width: 85%;
  }
}

@media screen and (min-width: 1200px) {
  .project-img-carousel {
    max-width: 75%;
  }
}
