.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.projects-title {
  color: #7ff;
}

.projects-list {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
