.projects {
  width: 90%;
  position: relative;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.projects-title {
  color: #fff;
}

.projects-list {
  box-shadow: inset 0 0 10px #7ff;
  margin-top: 30px;
  display: flex;
  max-width: 100%;
  width: min-content;
  height: 450px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  gap: 30px;
  padding: 0 30px;
}
