.tools-i-use {
  display: flex;
  flex-direction: column;
}
.tools-i-use h1 {
  color: #def;
  text-align: center;
  margin-top: 20px;
}
.tools-i-use h1 span {
  color: #5ff;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tool-item {
  border: 1px solid #5ff;
  margin: 50px;
  min-width: 150px;
  min-height: 100px;
}
