.tools-i-use {
  display: flex;
  flex-direction: column;
}
.tools-i-use h1 {
  color: #def;
  text-align: center;
  margin-top: 20px;
}
.tools-i-use h1 span {
  color: #5ff;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tool-item {
  border: 1px solid #5ff;
  border-radius: 5px;
  margin: 25px;
  min-width: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}
.tool-item .tool-icon {
  flex: 1;
  display: flex;
}
.tool-item .tool-icon svg {
  margin: auto;
  color: #def;
  font-size: 100px;
}
.tool-item .tool-name {
  flex: 0.3;
  display: flex;
  color: #abc;
  justify-content: center;
  align-items: center;
}
