@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --bg-color: #252638;
  --text-color: #fff;
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #abc;
}

*::-webkit-scrollbar-thumb {
  background: #122322;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes wave-animation {
  0% {
    d: path(
      "M0,128L40,160C80,192,160,256,240,256C320,256,400,192,480,149.3C560,107,640,85,720,101.3C800,117,880,171,960,181.3C1040,192,1120,160,1200,144C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    );
  }
  50% {
    d: path(
      "M0,192L40,192C80,192,160,192,240,192C320,192,400,192,480,192C560,192,640,192,720,192C800,192,880,192,960,192C1040,192,1120,192,1200,192C1280,192,1360,192,1400,192L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    );
  }
  100% {
    d: path(
      "M0,128L40,96C80,64,160,0,240,0C320,0,400,64,480,106.7C560,149,640,171,720,154.7C800,139,880,85,960,74.7C1040,64,1120,96,1200,112C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    );
  }
}
