@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #abc;
}

*::-webkit-scrollbar-thumb {
  background: #122322;
}
a {
  text-decoration: none;
}
