@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --bg-color: #d8e7e7;
  /* --bg-color: #383c3c; */
  --text-color: #383c3c;
  /* --text-color: #d8e7e7; */
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #abc;
}

*::-webkit-scrollbar-thumb {
  background: #122322;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}
.wave {
  animation-name: wave-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes wave-animation {
  0% {
    d: path(
      "M0,160L40,176C80,192,160,224,240,224C320,224,400,192,480,176C560,160,640,160,720,176C800,192,880,224,960,224C1040,224,1120,192,1200,176C1280,160,1360,160,1400,160L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    );
  }
  50% {
    d: path(
      "M0,184L40,184C80,184,160,184,240,184C320,184,400,184,480,184C560,184,640,184,720,184C800,184,880,184,960,184C1040,184,1120,184,1200,184C1280,184,1360,184,1400,184L1440,184L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    );
  }
  100% {
    d: path(
      "M0,160L40,144C80,128,160,96,240,96C320,96,400,128,480,144C560,160,640,160,720,144C800,128,880,96,960,96C1040,96,1120,128,1200,144C1280,160,1360,160,1400,160L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    );
  }
}
