nav {
  flex: 1;
  display: flex;
}
.navbar-ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.navbar-ul li {
  display: flex;
}
.navbar-ul li a {
  height: 40px;
  background-color: #222;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.navbar-ul li a.active {
  background-color: #111;
  border-bottom: 2px solid #fff;
}
.navbar-ul li a:hover {
  color: #def;
  background-color: #444;
}
