.projects {
  display: flex;
  flex-direction: column;
}
.projects h1 {
  color: #def;
  margin-top: 100px;
  text-align: center;
}

.projects h1 span {
  color: #5ff;
}
.projects > p {
  text-align: center;
  color: #def;
  margin-top: 20px;
}
.projects p:first-child {
  margin-top: 40px;
}

.projects-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 400px;
  margin: 10px 25px;
  min-height: 450px;
  border-radius: 4px;
  border: 1px solid #5ff;
  display: flex;
  flex-direction: column;
}
.project-photo {
  flex: 1;
  margin: 10px auto;
  width: 95%;
  background-color: #123;
  position: relative;
}
.project-photo img {
  object-fit: cover;
  width: 100%;
}

.project-name {
  margin: auto;
  font-size: 1.2rem;
  width: 95%;
  color: #5ff;
  font-weight: bold;
}

.project-description {
  color: #def;
  width: 95%;
  margin: 10px auto;
}

.project-links {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
.project-links a {
  background-color: #123;
  color: #cde;
  padding: 5px 20px;
  text-decoration: none;
}
.project-links a:hover {
  color: #def;
  background-color: #012;
}
