.cv-button-container {
  display: flex;
  height: 100px;
}
.cv-button-container a {
  margin: auto;
  background-color: #def;
  border-radius: 5px;
  padding: 10px 25px;
  color: #123;
  font-weight: bolder;
}
.container-for-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #def;
  font-weight: bolder;
}
