html {
  background-color: #121212;
  display: flex;
}

body {
  width: 100%;
  background-color: #121212;
  margin: auto;
}

.header-container {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: #121212;
  display: flex;
  height: 60px;
  box-shadow: 0px 0.5px 10px #7ff;
  width: 100vw;
}
.content-container {
  height: calc(100vh - 60px);
  width: 100vw;
  overflow-y: auto;
}

.content-width {
  width: 95%;
  position: relative;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  margin: auto;
}
/*media querys*/
@media screen and (min-width: 700px) {
  .content-width {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .content-width {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .content-width {
    width: 60%;
  }
}
