.App {
  text-align: center;
}
.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url(./assets/svg/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #234;
}
.main-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #234;
  display: flex;
}
.main-content {
  margin: 0 auto;
  width: var(--width-content);
}
.scroll-y {
  overflow-y: auto;
}
/* .scroll-y::-webkit-scrollbar {
  display: none;
} */
@media screen and (min-width: 900px) {
  .main-container {
    height: calc(100vh - 50px);
  }
}
