@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #abc;
}

*::-webkit-scrollbar-thumb {
  background: #7ff;
}
a {
  text-decoration: none;
}
body {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.animate-content * {
  animation: animate 1s ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  color: #9bb;
  --tablet-max-width: 768px;
  --width-content: 100%;
}

@media screen and (min-width: 700px) {
  :root {
    --width-content: 95%;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --width-content: 90%;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --width-content: 85%;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --width-content: 80%;
  }
}
