@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --tablet-max-width: 768px;
  --width-content: 100%;
}

@media screen and (min-width: 700px) {
  :root {
    --width-content: 95%;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --width-content: 90%;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --width-content: 85%;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --width-content: 80%;
  }
}
